{% extends 'app/base.html' %}
{% load static %}
{% block title %}  Reset-DONE Password   {% endblock title %}
{% block main-content %} 
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">

<form method="POST" class="row g-3 shadow p-5 my-4 ">
    {% csrf_token %}
    <div>
        <h4 class="alert-heading">Congratulations!!!</h4>
        <p>An e-mail has been send to user <b>Check Your E-mail</b></p>
    </div>
</form>  
</div>
</div> 
</div>
{% endblock main-content %}