{% extends 'app/base.html' %}
{% load static %}
{% block title %}  Confirm Password   {% endblock title %}
{% block main-content %} 
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">

<form method="POST" class="row g-3 shadow p-5 my-4 ">
    {% csrf_token %}
<table>
    {% for item in form %}
    <div class="col-auto my-4 ">
        {{item.label_tag}}{{item}}
    </div>


    {% endfor %}
    <div class="col-auto my-5">
    <button class="btn btn-primary mb-3 " type="submit">Submit</button>
    </div>


</table>
</form>  
</div>
</div> 
</div>
{% endblock main-content %}