{% extends 'app/base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
   <h3>Login</h3>
   <hr>
   <form method="POST">
       {% csrf_token  %}
       <div>
        {% for item in messages  %}
                {{item}}
        {%  endfor %}
        </div>
     
       <div>
           {%  for item in form %}
                <p>{{item.label_tag}} </p> {{item}}
            {% endfor %}
       </div>
    <small><a href="{% url 'forget' %}">Forgot Password ?</a></small> <br>
    <input type="submit" class="btn btn-primary mt-4" value="Login">
    <br>
    <div class="text-center text-primary fw-bold"><small>New to ShoppinglyX ? <a href="{% url 'customerregistration' %}"
       class="text-danger">Create an Account</a> </small></div>
   </form>
  </div>
 </div>
</div>
{% endblock main-content %}